.password {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);


    .main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;

        .animationData {
            width: 180px;
            height: 180px;
        }
    }

    .title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 34px;
        line-height: 121%;
        letter-spacing: 0.01em;
        color: var(--text-color);
        margin-bottom: 16px;
    }

    button {
        margin: auto;
    }
}

.setPassword {
    min-height: 100vh;
    height: 100%;
    background-color: var(--secondary-bg-color);
}